@font-face {
	font-family: "Bookman Old";
	src: url("../fonts/BOOKOS.TTF");
}

*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}

body {
	font-family: 'Raleway', sans-serif;
	letter-spacing: 1px;

}
html,body {
	min-height:100%;
	height:100%;
}
a {
	

	&:focus{
		outline:none;
	}
}
input {
	&:focus {
		outline:none !important;
	}

}
@import 'hover';
@import 'sprite';
header {
	background-color: #000;
	.header {


		




















































		&.header-fix {
			position: fixed;
			z-index: 999;
			background-color: #000;
			width: 100%;
			transition: all 0.5s ease-in-out;
			.logo {
				img {
					width: 107px;
					transition: all 0.5s ease-in-out;

				}
			}

		}
		transition: all 0.5s ease-in-out;
		
		
		.inner-div {
			width:80%;
			width:80%;
			margin:0 auto;
			text-align:center;
			position:relative;
		}
		a {
			color : #fff;
			text-decoration:none;
			padding:2px 5px;
			@media (min-width:1024px) {
				padding: 6px 10px;
			}
			text-transform:uppercase;
			border:1px solid #000;
			font-size: 12px;
			font-weight: 600;
			cursor: pointer;
			
			
			
		}
		.logo {
			img {
				padding:10px 0;
				// height:70px;
				width:240px;
			}
			&:hover {
				border:none;	
			}
			
		}
		.about-us-link {
			display: inline-block;		    
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
			&:hover {
				
			}
			@media (max-width:1024px) {
				border:1px solid #fff;	
				
			}


		}
		.locate-us-link {
			display: inline-block;

			position: absolute;
			right: 0;
			top: 50%;
			transform: translateY(-50%);
			&:hover {
				
			}
			@media (max-width:768px) {
				border:1px solid #fff;	
				
			}

		}
	}
}




.banner-slider {
	&:focus{
		outline: none;
	}
	
	height: calc(100% - 50px);
	position:relative;
	.banner-slider .slick-slider {
		position:relative;
	}
	.slick-slider,.slick-list, .slick-track {
		height:100%;
	}
	.slick-dots {
		bottom:52px;
		li {
			height: 15px;
			width: 15px;
			&.slick-active {
				button {
					&:before {
						color:#fff;
						border:1px solid #000;
						opacity:1;
						border-radius:50%;
						width: 10px;
						height: 10px;												
						line-height: 10px;
						transform: translate(50%,50%);
						
					}
				}
			}
			margin: 0 0px;
			button {
				&:before{
					
					
					opacity:1;


				}

			}
		}


	}
	
	.item {
		&:focus{
			outline: none;
		}
		background-color:#fff;    	
		height:100%;
		position:relative;
		&.slick-active {
			.background-img {
				&:before {
					width:0%;
					transition: all 1s ease-in-out 0.2s;
				}

			}
			img {
				opacity : 1;
				transition: all 0s ease-in-out;
			}

		}
		.background-img {
			height:100%;
			background-position: center;
			background-size: auto 100%;
			background-repeat:no-repeat;

			&:before {
				content: "";
				background-color: #fff;
				height: 100%;
				width: 100%;
				display: inline-block;
				width: 100%;
				position: absolute;
				right: 0;
				// transition: all 3s ease-in-out;

			}



		}
		
		img {
			margin:auto;
			position: absolute;
			z-index: 1;
			
			bottom: 11%;
			left: 50%;
			transform: translateX(-50%);
			opacity:0;
			width: 23%;
			
		}
	}
	
}


#about-us {
	position:relative;
	
	background-position: left bottom;
	background-size: 13%;
	background-repeat: no-repeat;
	@media (max-width:767px) {
		padding-top: 30px;	
	}
	
	img.bag-ladies {
		position: absolute;
		bottom: -38px;
		left: 0;
		width: 13%;
		z-index: 0;
	}
	
	.video {
		transition: all 1s ease;
		&:hover {
			
			transition: all 1s ease;

			.video-poster {
				
				.video-button {
					// width: 97px;
					// height: 200px;
					transition: all .5s ease;

				}

			}

		}




	}
	
	.inner-div {
		width:70%;
		margin: 0  auto;
		.about-left-sec {
			width: 50%;
			background-color: #fff;
			z-index: 987;
			position: relative;
			padding: 0px;
			margin-bottom: -50px;
			transition: all .5s ease;
			padding-right: 15px;
			line-height: 24px;
			padding-bottom: 15px;
			// -moz-box-shadow: 0px 2px 10px rgba(0,0,0,0.2);
			// -webkit-box-shadow: 0px 2px 10px rgba(0,0,0,0.2);
			// box-shadow: 0px 2px 10px rgba(0,0,0,0.2);
			span {
				display:inline-block;
				margin-bottom:30px;
			}

			h3 {
				text-transform:uppercase;
				font-family: "Bookman Old";
				font-weight : 500;

				padding: 23px;

				border-right: 0;
				display: inline-block;
				margin-bottom:0;
				margin-top:0;

			}
		}
	}
	.video {
		width: 70%;
		margin: auto 0 0 auto;
		position:relative;
		min-height: 400px;
		transition: all .5s ease;
		.video-poster {

			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: #000;
			background-image: url(../images/video-img.jpg);
			background-size: cover;
			background-position: top;
			background-repeat: no-repeat;

			.outer-valign {
				display: table;
				width: 100%;
				height: 100%;
				background-color: rgba(0,0,0,0.6);
			}
			.inner-valign {
				display: table-cell;
				vertical-align: middle;
			}
			.text-center {
				text-align: center;
			}
			.video-button {
				display: inline-block;
				position: relative;


				width: 49px;
				height: 100px;


				border: 1px solid #fff;
				overflow: hidden;
				cursor: pointer;
				transition: all .5s ease;
				&:hover {
					.video-button-hover {
						bottom: 0;
					}
					.triangle {
						span{
							background-color: #fff;	
						}

					}
				}
				.video-button-hover {
					position: absolute;
					width: 100%;
					height: 100%;
					background-color: #000;
					left: 0;
					bottom: -100%;
					transition: all .5s ease;
				}
				.triangle{
					height: 100%;
					width: 11px;
					display: inline-block;
					overflow: hidden;
					position: relative;
					z-index: 5;
					span {
						display: inline-block;
						width: 15px;
						height: 15px;
						background-color: #fff;
						position: relative;
						margin-left: -13px;
						top: 50%;

						transform: translateY(-50%) rotate(-45deg);
						transition: all .5s ease;
					}
				}
			}




		}




	}

}
.testimonial {

	.test-title {
		text-align: center;
		position: absolute;
		left: 0;
		right: 0;
		top: 30px;
		@media (min-width:1024px) {
			top: 70px;

		}
		.inst-title {
			left:auto;
			transform:initial;
			&:after {
				background-color:#fff;
			}
		}

	}	

	margin-top:70px;

	font-family: "Bookman Old";

	color:#fff;
	.slick-slider .slick-track, .slick-slider .slick-list {
		height:100%;

	}

	.slick-dots {
		bottom:20px;
		li {
			height: 15px;
			width: 15px;
			&.slick-active {
				button {
					&:before {
						color:transparent;
						border:1px solid #fff;
						opacity:1;
						border-radius:50%;
						width: 10px;
						height: 10px;												
						line-height: 10px;
						transform: translate(50%,50%);
						// transition: all 0.5s ease-in-out;
					}

				}
			}
			margin: 0 0px;
			button {
				&:before{
					color:#fff;				
					// transition: all 0.5s ease-in-out;
					opacity:1;


				}

			}
		}


	}

	.testimobial-slide {



		height:100%;
		.item {
			&:focus{
				outline: none;
			}
			height:100%;
			.outer {
				display: table;
				height: 100%;
				width: 100%;
				.inner {
					p{
						position:relative;
						line-height:30px;
						font-size: 18px;
						max-width:580px;
						margin:0 auto;
						margin-bottom:30px;
						img {
							width: 29px;
						}
						.left-qote {
							position: absolute;
							top: -10px;
							left: -40px;
						}
						.right-qote {
							position: absolute;
							bottom: 0;
							right: -30px;

						}
					}
					span {
						font-weight:600;
						font-size:18px;
						text-transform:capitalize;
					}
					display: table-cell;
					vertical-align: middle;
					text-align: center;
				}
			}
			
		}
	}

	.parallax { 
		/* The image used */
		background-image: url("../images/testimobial-bg.jpg");

		/* Set a specific height */
		height: 500px; 
		background-attachment: fixed;

		/* Create the parallax scrolling effect */
		

		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		position:relative;
		@media (max-width:1024px) {
			background-attachment: initial;

		}
	}

}



.processdiv_i {
	position: relative
}

.homeprocessparentdiv .processdiv_i .l-1 i {
	-webkit-transition: width 0.4s ease-out;
	-o-transition: width 0.4s ease-out;
	transition: width 0.4s ease-out
}

.homeprocessparentdiv .processdiv_i .l-2 i {
	-webkit-transition: height 0.4s ease-out;
	-webkit-transition-delay: 0.4s;
	-o-transition: height 0.4s ease-out 0.4s;
	-webkit-transition: height 0.4s ease-out 0.4s;
	transition: height 0.4s ease-out 0.4s
}

.homeprocessparentdiv .processdiv_i .l-3 i {
	-webkit-transition: width 0.4s ease-out;
	-webkit-transition-delay: 0.8s;
	-o-transition: width 0.4s ease-out 0.8s;
	-webkit-transition: width 0.4s ease-out 0.8s;
	transition: width 0.4s ease-out 0.8s
}

.homeprocessparentdiv .processdiv_i .l-4 i {
	-webkit-transition: height 0.4s ease-out;
	-webkit-transition-delay: 0.4s;
	-o-transition: height 0.4s ease-out 0.4s;
	-webkit-transition: height 0.4s ease-out 0.4s;
	transition: height 0.4s ease-out 0.4s
}

.homeprocessparentdiv .processdiv_i .l-1 i,
.homeprocessparentdiv .processdiv_i .l-2 i,
.homeprocessparentdiv .processdiv_i .l-3 i,
.homeprocessparentdiv .processdiv_i .l-4 i {
	width: 100%;
	height: 100%
}

.processdiv_i .l-2,
.processdiv_i .l-4 {
	width: 2px;
	height: 0;
	background: transparent;
	position: absolute;
}

@media only screen and (min-width:768px) and (max-width:1240px) {
	.processdiv_i .l-2,
	.processdiv_i .l-4 {
		height: 100%
	}
}

@media only screen and (max-width:767px) {
	.processdiv_i .l-2,
	.processdiv_i .l-4 {
		height: 100%
	}
	.processdiv_i .l-2,
	.processdiv_i .l-4 {
		background: #343131
	}
}

.processdiv_i .l-2 i,
.processdiv_i .l-4 i {
	display: block;
	position: absolute;
	width: 100%;
	height: 0;
	background: #333
}

.processdiv_i .l-1,
.processdiv_i .l-3 {
	height: 2px;
	width: 0;
	background: transparent;
	position: absolute
}

@media only screen and (max-width:767px) {
	.processdiv_i .l-1,
	.processdiv_i .l-3 {
		background: #343131
	}
}

@media only screen and (min-width:768px) and (max-width:1240px) {
	.processdiv_i .l-1,
	.processdiv_i .l-3 {
		width: 100%
	}
}

@media only screen and (max-width:767px) {
	.processdiv_i .l-1,
	.processdiv_i .l-3 {
		width: 100%
	}
}

.processdiv_i .l-1 i,
.processdiv_i .l-3 i {
	display: block;
	position: absolute;
	height: 100%;
	width: 0;
	background: #333
}

.processdiv_i .l-1 {
	left: 0;
	top: 0
}

.processdiv_i.inview .l-1 {
	-webkit-transition: background 0.4s ease, width 0.4s ease-out;
	-o-transition: background 0.4s ease, width 0.4s ease-out;
	transition: background 0.4s ease, width 0.4s ease-out;
	width: 100%
}

.processdiv_i .l-1 i {
	right: 0;
	top: 0;
	-webkit-transition: width 0.4s ease-out;
	-webkit-transition-delay: 0.8s;
	-o-transition: width 0.4s ease-out 0.8s;
	-webkit-transition: width 0.4s ease-out 0.8s;
	transition: width 0.4s ease-out 0.8s
}

.processdiv_i .l-2 {
	top: 0;
	right: 0
}

.processdiv_i.inview .l-2 {
	-webkit-transition: background 0.4s ease, height 0.4s ease-out;
	-webkit-transition-delay: 0s, 0.4s;
	-o-transition: background 0.4s ease, height 0.4s ease-out 0.4s;
	-webkit-transition: background 0.4s ease, height 0.4s ease-out 0.4s;
	transition: background 0.4s ease, height 0.4s ease-out 0.4s;
	height: 100%
}

.processdiv_i .l-2 i {
	top: 0;
	left: 0;
	-webkit-transition: height 0.4s ease-out;
	-webkit-transition-delay: 0.8s;
	-o-transition: height 0.4s ease-out 0.8s;
	-webkit-transition: height 0.4s ease-out 0.8s;
	transition: height 0.4s ease-out 0.8s
}

.processdiv_i .l-3 {
	left: 0;
	bottom: 0
}

.processdiv_i.inview .l-3 {
	-webkit-transition: background 0.4s ease, width 0.4s ease-out;
	-webkit-transition-delay: 0s, 1.2s;
	-o-transition: background 0.4s ease, width 0.4s ease-out 1.2s;
	-webkit-transition: background 0.4s ease, width 0.4s ease-out 1.2s;
	transition: background 0.4s ease, width 0.4s ease-out 1.2s;
	width: 50%
}

.processdiv_i .l-3 i {
	left: 0;
	top: 0;
	-webkit-transition: width 0.4s ease-out;
	-webkit-transition-delay: 0s;
	-o-transition: width 0.4s ease-out 0s;
	-webkit-transition: width 0.4s ease-out 0s;
	transition: width 0.4s ease-out 0s
}

.processdiv_i .l-4 {
	bottom: 0;
	left: 0
}

.processdiv_i.inview .l-4 {
	-webkit-transition: background 0.4s ease, height 0.4s ease-out;
	-webkit-transition-delay: 0s, 0.8s;
	-o-transition: background 0.4s ease, height 0.4s ease-out 0.8s;
	-webkit-transition: background 0.4s ease, height 0.4s ease-out 0.8s;
	transition: background 0.4s ease, height 0.4s ease-out 0.8s;
	height: 100%
}

.processdiv_i .l-4 i {
	top: 0;
	left: 0;
	-webkit-transition: height 0.4s ease-out;
	-webkit-transition-delay: 0.4s;
	-o-transition: height 0.4s ease-out 0.4s;
	-webkit-transition: height 0.4s ease-out 0.4s;
	transition: height 0.4s ease-out 0.4s
}


#vint:after {
	content: '\f107';
	position: absolute;
	right: 15px;
	top: 9px;
	color: #333;
	font-size: 23px;
	z-index: -1;
	font-family: FontAwesome;
}


.locate-us {
	
	padding:70px 0;
	position:relative;
	@media (max-width:1024px) {
		padding:70px 0 0 0;

	}
	.shoes-ladies {
		position: absolute;
		top: 30px;
		right: 0;
		width: 10%;
		z-index: 0;


	}
	.shoes-man {
		position: absolute;
		bottom: -38px;
		left: 15px;
		width: 10%;
		z-index: 0;
	}
	.inner-div {
		width: 70%;
		margin: 0 auto;
		
		
		margin-bottom:70px;
	}
	.inner-text {
		width: 78%;
		@media (max-width: 600px) {
			width:auto;
		}
	}
	.top {
		span {
			text-transform: uppercase;
			font-size: 12px;
			font-weight: 500;
			color: #fff;
			background-color: #000;
			padding: 12px 23px 12px 25px;
			min-width: 242px;
			height: 40px;
			display: inline-block;
			line-height: 27px;
			height: 50px;
			.scircular-target {
				float:right;
				margin-top:4px;
			}
		}
	}
	.dropdown {
		text-align: center;

		
		display: inline-block;
		margin-left: 40px;
		form {
			width: 242px;
			height: 50px;
			position: relative;
			margin: auto;


		}
		select {
			border: 1px solid #ebebeb;
			width: 100%;
			height:50px;

			text-transform: uppercase;
			background: transparent;
			color: #333;
			font-size: 12px;
			font-weight: 400;
			line-height: 40px;
			text-align: left;
			padding-left: 8px;
			-webkit-appearance: none;
			-moz-appearance: none;
			padding-left: 20px;
			outline:none;
			&::-ms-expand {
				display: none
			}
			&:focus {
				outline: none;
			}
			&:visite {
				outline: none;
			}
			&:active {
				outline: none;
			}
			&:hover {
				cursor:pointer;
			}


		}

	}
	.locate-us-list {
		ul {
			list-style: none;
			padding: 0;
			margin-left:-20px;
			margin-right:-20px;
			li {
				width: calc(25% - 5px);
				padding:0 20px;
				display:inline-block;
				margin-bottom: 30px;
				.item {
					h5{
						text-transform:uppercase;
						padding-bottom: 14px;
						font-weight: 600;
						position:relative;
						&:before {
							content: " ";
							height: 2px;
							width: 32px;
							background-color: #000;
							display: inline-block;
							position: absolute;
							bottom: 0;
						}
					}
					&>span{
						margin: 12px 0px;
						
						width:100%;
						&>img {
							margin-right:8px;
							width:16px;
							float:left;
							@media (max-width:600px) {
								
								float:none;
								
							}
						}
					}
					span {
						&.location {
							@media (min-width:600px) {
								min-height: 34px;

							}
							span.location {
								
								
							}
							a {
								color:inherit;
								&:hover {
									text-decoration:none;
								}
								&:focus {
									text-decoration:none;

								}
							}
						}
						&.nxt {
							
							
							width:auto;							
							font-size:12px;
							display:inline-block;
							width:190px;





							a {
								background-color:#000;
								background: linear-gradient(90deg,#000 50%,#fff 0);
								background-size: 200% 100%;
								background-position: 100% 100%;
								display:inline-block;
								border:1px solid #000;
								color:#000;
								width:100%;
								text-align:center;
								transition: all 1s ease;
								.arrow-c {
									margin-left:15px;
									background-position: -16px -136px; width: 16px; height: 16px;
									margin-bottom: -4px;
									@media (max-width:1024px) {
										background-position: -0px -152px; width: 16px; height: 16px; 
									}


								}
								&:hover {
									background-position: 0 100%;
									transition: all 1s ease;
									color:#fff;
									.arrow-c {
										background-position: -0px -152px; width: 16px; height: 16px; 
									}

									
								}
								
								text-decoration:none;
								
								text-transform:uppercase;
								padding: 15.5px 0px;
								display:inline-block;

								
							}
						}
						
						display:inline-block;
						font-size:12px;
						
					}

				}
				

			}
		}
	}
	span{
		h3 {
			text-transform: uppercase;
			font-family: "Bookman Old";
			font-weight: 500;
			padding: 23px;
			border-right: 0;
			display: inline-block;
			margin-bottom: 0;
			margin-top: 0;
		}
		&.locate-us-title {
			display: inline-block;
			margin-bottom: 50px;


		}
	}
	
}

.hr-line  {
	height: 1px;
	width: 100%;
	margin: 10px 0 30px;
	border: 0.5px solid #cccccc;
	margin:40px 0;
}


#subscriber {
	background-color: #f5f5f5;
	padding: 50px 0;

	background: linear-gradient(90deg, #f5f5f5 50%, #fff 0);
	background-size: 200% 100%;
	background-position: 100% 100%;
	&.homeprocessparentdiv {
		background-position: 0 100%;
		transition: all 1s ease;
		
	}

	.inner-div {
		position:relative;

		.subscriber-form {
			
			margin: 0 0 0 auto;
			width: 54%;

			.input-group {
				display:inline-block;
				position:relative;
				width:49%;
				margin-bottom: 20px;
				label{
					position: absolute;
					left: 0;
					bottom: -10px;
					color: red;
					font-size: 11px;
					font-weight: 500;
					white-space:nowrap;

					.error {

					}	
				}
				
			}

			
			
			input[type="email"] {
				&:focus {
					outline:none;
				}
				width: 100%;
				background-color: transparent;
				border: none;
				border-bottom: 1px solid;
				padding-bottom: 12px;
				color: #000;
				margin-bottom: 20px;
			}
			.checkbox1 {
				input[type="checkbox"] {
					margin-right: 10px;
				}
				display: inline-block;
				padding-bottom: 12px;

				margin-bottom: 20px;
				
			}
			.checkbox2 {
				input[type="checkbox"] {
					margin-right: 10px;

				}
				display: inline-block;
				margin-left: 40px;
				padding-bottom: 12px;

				margin-bottom: 20px;
			}
			#subscribe-submit {

				background-color:#000;
				background: linear-gradient(90deg,#000 50%,#f5f5f5 0);
				background-size: 200% 100%;
				background-position: 100% 100%;
				display:inline-block;
				border:1px solid #000;
				color:#000;
				width:100%;
				text-align:center;
				transition: all 1s ease;
				.arrow-c {
					background-position: -16px -136px; width: 16px; height: 16px;
					position: relative;
					top: 2px;
					@media (max-width:1024px) {
						background-position: -0px -152px; width: 16px; height: 16px;
					}

				}
				&:hover {
					background-position: 0 100%;
					transition: all 1s ease;
					color:#fff;
					.arrow-c {
						background-position: -0px -152px; width: 16px; height: 16px;

					}
				}



				cursor: pointer;
				display: block;
				background-color: #000;
				
				width: 247px;
				padding: 14px;
				text-align: center;
				.arrow-c {
					margin-left:15px;
				}
			}
		}

		.subscriber-title {
			display:inline-block;
			position:absolute;
			
		}
		h3 {
			text-transform: uppercase;
			font-family: "Bookman Old";
			font-weight: 500;
			padding: 23px;
			border-right: 0;
			display: inline-block;
			margin-bottom: 0;
			margin-top: 0;
			padding-left: 35px;
		}
		width: 70%;
		margin: auto
	}	
}


.back-to-top {
	background: linear-gradient(-180deg,#000 50%,#fff 0);
	background-size: 100% 200%;
	background-position: 100% 100%;
	@media (min-width:1024px) {

		&:hover {
			color:#000;
			background-color:#000;

			background-position: 100% 200%;
			transition: all 1s ease;
			.top-button-white {
				display:block;
			}
			.top-arrow {
				display:none;
			}
		}

	}
	
	&:focus {
		color:#000;
	}
	position: fixed;
	bottom: 50px;
	right: 42px;



	@media (max-width:1024px) {
		bottom: 41px;
		right: 15px;
	}
	@media (max-width:767px) {
		bottom: 56px;
		right: 15px;
	}
	
	
	color: #000;		
	display:none;
	.top-button-white {
		display:none;
		width: 42px;
	}
	.top-arrow {
		display:block;
		width: 42px;
		@media (max-width:767px) {
			margin: 0 auto;
		}
	}
	


}

.inst-title {
	&:after {
		display: inline-block;
		content: "";
		position: absolute;
		height: 3px;
		width: 35px;
		background-color: #333333;
		left: 50%;
		transform: translate(-50%);
		bottom: -7px;
	}
	text-align: center;
	text-transform: uppercase;
	font-family: "Bookman Old";
	font-weight: 500;
	font-size: 24px;
	display: inline-block;
	position: relative;
	left: 50%;
	transform: translate(-50%);
}

footer {
	.social {
		text-align:center;
	}
	ul {
		&.social-icon {
			list-style: none;
			padding: 0;
			outline: none;
			display:inline-block;
			padding: 30px 0;
			margin-top:10px;

		}
		li {
			a {
				color: inherit;
				text-transform:uppercase;
				font-size: 10px;
				padding: 0 12px;
				display: inline-block;
				&>span {
					display:block;
					text-align:center;
					color:#757575;
					font-weight: 600;
				}
				&:hover{
					text-decoration:none;
					color:#000;	
					transition: all 1s ease;
					span {
						color:#000;

					}

					.fa {
						background-color:#000;
						color:#fff;
						transition: all 0.3s ease-in-out;

					}
				}
				
			}
			.fa-facebook {
				padding: 17px 19px;
				
			}
			.fa-instagram {
				padding: 17px 16px;
				
			}
			display: inline-block;
			width: 50%;
			float: left;
			i {
				&.fa {
					border: 1px solid #000;
					font-size: 20px;
					cursor:pointer;
					&:hover{
						
						transition: all 1s ease-in-out;
					}
				}
				
			}


		}
	}
	.footer {
		color: #fff;
		background-color: #000;
		padding: 5px 0;
		text-align: center;
		a {
			color:#fff;
			&:hover {
				text-decoration:none;
			}
		}
	}
}

footer {
	margin-top:40px;
}

#instagram {
	padding:50px 0;
	.instagram-title {
		padding:20px 0;
	}
	.insta-feed {
		
		width: 70%;
		max-width:940px;
		margin: auto;
		margin-top:30px;

		.insta-feed-wrapp {
			.insta-content {
				width: 20%;
				display: inline-block;
				float:left;
				position:relative;
				height:188px;
				overflow:hidden;
				a{
					display:inline-block;

					height: 100%;
					width: 100%;
					
					background-position: top center;
					background-size: auto 100%;
					background-repeat-y: no-repeat;
					img {
						width:100%;
						height: auto;
						display:none;
						@media (max-width:600px) {
							

						}
					}
					
					.overlay {
						opacity:0;
						position: absolute;
						top: 0;
						height: 100%;
						width: 100%;						
						padding: 13px;
						background: rgba(0,0,0,0.5);
						@media (max-width:1024px) {
							opacity:1;
							
						}


						.inner {
							height: 100%;
							width: 100%;
							border: 2px solid #fff;
							display: table;
							.inner-n {
								display: table-cell;
								vertical-align: middle;
								text-align:center;
								color: #fff;
								padding: 0 12px;
								font-size: 12px;
								.comments {
									font-size:18px;

								}
								.like {
									font-size:18px;

								}
								i {
									font-size:18px;
								}
								span.fullname {
									display: block;
									color: #fff;
									margin-top: 12px;


								}
							}
						}
					}

					&:hover {
						.overlay {
							opacity:1;
							transition: all 0.5s ease-in-out;

						}
						
					}

					
				}
			}
		}

	}
}

@media (max-width:1166px) {

	.locate-us .locate-us-list ul li {
		width: calc(33.33% - 5px);
	}

}

@media (max-width:1024px) {
	header .header .inner-div {
		width:90%;
	}
	#subscriber .inner-div .subscriber-form #subscribe-submit {
		background-position: 0 100%;
		transition: all 1s ease;
		color: #fff;

	}
	.locate-us .locate-us-list ul li .item span.nxt a {
		background-position: 0 100%;
		transition: all 1s ease;
		color: #fff;
	}
	.banner-slider .slick-slider, .banner-slider .slick-list, .banner-slider .slick-track {
		height:auto;
	}
	.banner-slider .item {
		height:500px;
	}
	.banner-slider {
		height:auto;
	}
	.locate-us .locate-us-list ul li {
		width: calc(50% - 5px);
	}
	#instagram .insta-feed .insta-feed-wrapp .insta-content {
		height: 140px;
		overflow: hidden;
	}
	#about-us .inner-div .about-left-sec {
		width:100%;
		margin-bottom:auto;
		p {
			text-align:center;
			padding-left: 10px;
			padding-right: 10px;
		}
	}
	#about-us .video {
		width: calc(100% - 40px);
		margin: auto;
		min-height:auto;
		margin-top:50px;


	}
	
	#subscriber .inner-div .subscriber-form .input-group {
		width:100%;
	}
	#about-us img.bag-ladies,.locate-us .shoes-ladies,.locate-us .shoes-man {
		display:none;
	}
}
.footer {
	br {
		display:none;
	}
}
@media (max-width:768px){
	.footer {
		br {
			display:block;
		}
		span {
			display:none;
		}
	}
	.banner-slider .item {
		height: 360px;
	}
	#subscriber .inner-div .subscriber-form #subscribe-submit {
		width:100%;
	}
	#subscriber .inner-div {

		max-width: 320px;
	}
	#subscriber .inner-div .subscriber-form {
		width:100%;
	}
	#subscriber .inner-div .subscriber-title {
		position: relative;
		width: 100%;
		left: auto;
	}
	#subscriber .inner-div .subscriber-form {
		margin: 0 0 0 auto;
		width: 100%;
		margin-top: 40px;
	}
} 

@media (max-width:767px) {
	#about-us .video {

		margin-top: 15px;
	}
	.testimonial {
		margin-top:50px;
	}
	.locate-us {
		padding: 50px 0 0 0;
	}
	.locate-us span.locate-us-title {

		margin-bottom: 40px;
	}
	.locate-us .inner-div {

		margin-bottom: 0px;
	}
	#subscriber {
		padding: 45px 0;
	}
	#subscriber .inner-div .subscriber-form .checkbox2 {

		padding-bottom: 15px;
		margin-bottom: 0px;
	}
	#subscriber .inner-div .subscriber-form .checkbox1 {

		padding-bottom: 15px;
		margin-bottom: 0px;
	}
	#instagram {
		padding: 10px 0;
	}
	.hr-line {

		margin: 30px 0;
	}
	footer {
		margin-top: 30px;
	}
	.banner-slider .item {
		height: auto;
		padding-top:10px;
	}
	.banner-slider .item img {
		width: 26%;
		position:relative;
		display:inline-block;
	}
	header .header .logo img {
		width:30%;
	}
	.banner-slider .item .background-img {
		position:absolute;
		width:100%;
	}
	.banner-slider .slick-dots {
		bottom: -20px;
	}
	.locate-us .top span {
		width:100%;
	}
	.locate-us .dropdown {
		width:100%;
		margin-left:auto;
		margin-top:20px;
	}
	.locate-us .dropdown form {
		width:100%;
	}
	.testimonial .testimobial-slide .item .outer .inner p {
		max-width:inherit;
		padding:20px;
	}
	.testimonial .testimobial-slide .item .outer .inner p .left-qote {
		position: absolute;
		top: 0;
		left: 0;
	}
	.testimonial .testimobial-slide .item .outer .inner p .right-qote {
		position: absolute;
		bottom: 0;
		right: 0;
	}
	

}
@media (max-width:600px)  {
	#about-us .video {
		width: 100%;
		margin: auto;
		min-height:auto;
		margin-top:50px;
		
	}
	.locate-us .locate-us-list ul li {
		width: calc(100% - 20px);
	}
	#subscriber .inner-div .subscriber-form {
		margin: 0 0 0 auto;
		width: 100%;
		margin-top: 40px;
	}
	#subscriber .inner-div .subscriber-title {
		position: relative;
		width: 100%;
		left: auto;
	}
	#about-us .inner-div {
		width: 100%;
		margin: 0 auto;
		padding-left: 0px;
		padding-right: 0px;
	}
	#about-us .inner-div .about-left-sec {
		padding-left:15px;
	}
	footer .footer {
		font-size:9px;
		padding:10px;

	}
	#instagram .insta-feed .insta-feed-wrapp .insta-content {
		height:auto;
		height:188px;
	}
	#subscriber .inner-div {
		position: relative;
		width: 100%;
		margin: auto;
		padding: 0 20px;
	}
	.locate-us .inner-div {
		width: 70%;
		margin: 0 auto;
		margin-bottom: 70px;
		width: 100%;
		padding: 0 20px;
		@media (max-width:1024px) {
			margin-bottom: 40px;

		}
	}
	.testimonial .testimobial-slide .item .outer .inner {
		padding: 0 20px;
	}
	
	#about-us .video .video-poster .video-button {
		width: 32px;
		height: 73px;
	}
	#about-us .video .video-poster .video-button .triangle {
		width: 7px;
	}
	.locate-us .locate-us-list ul li .item h5:before {
		left: 50%;		
		transform: translateX(-50%);
	}
	.locate-us .locate-us-list ul li {
		text-align:center;
	}


}
@media (max-width:320px) {
	.back-to-top {
		bottom: 51px;
		right: 8px;
		width: 61px;
		display: inline-block !important;
		@media (max-width:767px) {
			margin: 0 auto;
			right: 0px;
		}
	}

}
@media (min-width:1500px) {
	.banner-slider .item img {
		
	}
}


label#email-error.successfully {
	color: green !important;
}


.scroll-line {
	display:none !important;
	position: absolute;
	left: 10%;
	bottom: 29%;
	@media (max-width:600px) {
		display: none;
	}
	.verticle-line {
		content: "";
		display: inline-block;
		width: 150px;
		height: 1px;
		background-color: #000;	    
		vertical-align: middle;
		position: absolute;
		right: 6px;
		top: 8px;	
	}
	span {
		position:absolute;
		color:#fff;
		text-transform: uppercase;
	}

	display:inline-block;	
	transform: rotate(-90deg);
	
}