.on-hover-line {
  position: relative; }

.homeprocessparentdiv .on-hover-line .l-1 i {
  transition: width 0.4s ease-out; }

.homeprocessparentdiv .on-hover-line .l-2 i {
  -webkit-transition: height 0.4s ease-out;
  -webkit-transition-delay: 0.4s;
  transition: height 0.4s ease-out 0.4s; }

.homeprocessparentdiv .on-hover-line .l-3 i {
  -webkit-transition: width 0.4s ease-out;
  -webkit-transition-delay: 0.8s;
  transition: width 0.4s ease-out 0.8s; }

.homeprocessparentdiv .on-hover-line .l-4 i {
  -webkit-transition: height 0.4s ease-out;
  -webkit-transition-delay: 1.2s;
  transition: height 0.4s ease-out 1.2s; }

.homeprocessparentdiv .on-hover-line .l-1 i,
.homeprocessparentdiv .on-hover-line .l-2 i,
.homeprocessparentdiv .on-hover-line .l-3 i,
.homeprocessparentdiv .on-hover-line .l-4 i {
  width: 100%;
  height: 100%; }

.on-hover-line .l-2,
.on-hover-line .l-4 {
  width: 3px;
  height: 0;
  background: #f7f7f7;
  position: absolute; }

@media only screen and (min-width: 768px) and (max-width: 1240px) {
  .on-hover-line .l-2,
  .on-hover-line .l-4 {
    height: 100%; } }

@media only screen and (max-width: 767px) {
  .on-hover-line .l-2,
  .on-hover-line .l-4 {
    height: 100%; }
  .on-hover-line .l-2,
  .on-hover-line .l-4 {
    background: #343131; } }

.on-hover-line .l-2 i,
.on-hover-line .l-4 i {
  display: block;
  position: absolute;
  width: 100%;
  height: 0;
  background: #343131; }

.on-hover-line .l-1,
.on-hover-line .l-3 {
  height: 3px;
  width: 0;
  background: #f7f7f7;
  position: absolute; }

@media only screen and (max-width: 767px) {
  .on-hover-line .l-1,
  .on-hover-line .l-3 {
    background: #343131; } }

@media only screen and (min-width: 768px) and (max-width: 1240px) {
  .on-hover-line .l-1,
  .on-hover-line .l-3 {
    width: 100%; } }

@media only screen and (max-width: 767px) {
  .on-hover-line .l-1,
  .on-hover-line .l-3 {
    width: 100%; } }

.on-hover-line .l-1 i,
.on-hover-line .l-3 i {
  display: block;
  position: absolute;
  height: 100%;
  width: 0;
  background: #343131; }

.on-hover-line .l-1 {
  left: 0;
  top: 0; }

.on-hover-line.inview .l-1 {
  transition: background 0.4s ease, width 0.4s ease-out;
  width: 100%; }

.on-hover-line .l-1 i {
  left: 0;
  top: 0;
  -webkit-transition: width 0.4s ease-out;
  -webkit-transition-delay: 1.2s;
  transition: width 0.4s ease-out 1.2s; }

.on-hover-line .l-2 {
  top: 0;
  right: 0; }

.on-hover-line.inview .l-2 {
  -webkit-transition: background 0.4s ease, height 0.4s ease-out;
  -webkit-transition-delay: 0s, 0.4s;
  transition: background 0.4s ease, height 0.4s ease-out 0.4s;
  height: 100%; }

.on-hover-line .l-2 i {
  top: 0;
  left: 0;
  -webkit-transition: height 0.4s ease-out;
  -webkit-transition-delay: 0.8s;
  transition: height 0.4s ease-out 0.8s; }

.on-hover-line .l-3 {
  right: 0;
  bottom: 0; }

.on-hover-line.inview .l-3 {
  -webkit-transition: background 0.4s ease, width 0.4s ease-out;
  -webkit-transition-delay: 0s, 0.8s;
  transition: background 0.4s ease, width 0.4s ease-out 0.8s;
  width: 100%; }

.on-hover-line .l-3 i {
  right: 0;
  top: 0;
  -webkit-transition: width 0.4s ease-out;
  -webkit-transition-delay: 0.4s;
  transition: width 0.4s ease-out 0.4s; }

.on-hover-line .l-4 {
  bottom: 0;
  left: 0; }

.on-hover-line.inview .l-4 {
  -webkit-transition: background 0.4s ease, height 0.4s ease-out;
  -webkit-transition-delay: 0s, 1.2s;
  transition: background 0.4s ease, height 0.4s ease-out 1.2s;
  height: 100%; }

.on-hover-line .l-4 i {
  bottom: 0;
  left: 0;
  -webkit-transition: height 0.4s ease-out;
  -webkit-transition-delay: 0s;
  transition: height 0.4s ease-out 0s; }

/*# sourceMappingURL=hover.css.map */
