@font-face {
  font-family: "Bookman Old";
  src: url("../fonts/BOOKOS.TTF"); }

* {
  box-sizing: border-box; }

body {
  font-family: 'Raleway', sans-serif;
  letter-spacing: 1px; }

html, body {
  min-height: 100%;
  height: 100%; }

a:focus {
  outline: none; }

input:focus {
  outline: none !important; }

@media (min-width: 1024px) {
  .on-hover-line {
    position: relative; }
    .on-hover-line .l-1 {
      height: 1px;
      background: #000;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%; }
      .on-hover-line .l-1 i {
        display: block;
        position: absolute;
        height: 100%;
        width: 0;
        background: #fff;
        right: 0;
        top: 0;
        -webkit-transition: width 0.2s ease-out;
        -webkit-transition-delay: 0.6s;
        -o-transition: width 0.2s ease-out 0.6s;
        -webkit-transition: width 0.2s ease-out 0.6s;
        transition: width 0.2s ease-out 0.6s; }
    .on-hover-line .l-2 {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 1px;
      background: #000; }
      .on-hover-line .l-2 i {
        display: block;
        position: absolute;
        width: 100%;
        height: 0;
        background: #fff;
        top: 0;
        left: 0;
        -webkit-transition: height 0.2s ease-out;
        -webkit-transition-delay: 0.4s;
        -o-transition: height 0.2s ease-out 0.4s;
        -webkit-transition: height 0.2s ease-out 0.4s;
        transition: height 0.2s ease-out 0.4s; }
    .on-hover-line .l-3 {
      position: absolute;
      bottom: 0;
      left: 0;
      height: 1px;
      width: 100%;
      background: #000; }
      .on-hover-line .l-3 i {
        display: block;
        position: absolute;
        height: 100%;
        width: 0;
        background: #fff;
        left: 0;
        top: 0;
        -webkit-transition: width 0.2s ease-out;
        -webkit-transition-delay: 0.2;
        -o-transition: width 0.2s ease-out 0.2s;
        -webkit-transition: width 0.2s ease-out 0.2s;
        transition: width 0.2s ease-out 0.2s; }
    .on-hover-line .l-4 {
      position: absolute;
      right: 0;
      top: 0;
      width: 1px;
      height: 100%;
      background: #000; }
      .on-hover-line .l-4 i {
        display: block;
        position: absolute;
        width: 100%;
        height: 0;
        background: #fff;
        bottom: 0;
        left: 0;
        -webkit-transition: height 0.2s ease-out;
        -o-transition: height 0.2s ease-out;
        -webkit-transition: height 0.2s ease-out;
        transition: height 0.2s ease-out; }
    .on-hover-line:hover .l-1 i {
      width: 100%;
      height: 100%;
      -webkit-transition: width 0.2s ease-out;
      -o-transition: width 0.2s ease-out;
      transition: width 0.2s ease-out; }
    .on-hover-line:hover .l-2 i {
      width: 100%;
      height: 100%;
      -webkit-transition: height 0.2s ease-out 0.2s;
      -webkit-transition-delay: 0.2s;
      -o-transition: height 0.2s ease-out 0.2s;
      -webkit-transition: height 0.4s ease-out 0.2s;
      transition: height 0.2s ease-out 0.2s; }
    .on-hover-line:hover .l-3 i {
      width: 100%;
      height: 100%;
      right: 0;
      top: 0;
      -webkit-transition: width 0.2s ease-out;
      -webkit-transition-delay: 0.4s;
      -o-transition: width 0.2s ease-out 0.4s;
      -webkit-transition: width 0.2s ease-out 0.4s;
      transition: width 0.2s ease-out 0.4s; }
    .on-hover-line:hover .l-4 i {
      width: 100%;
      height: 100%;
      bottom: 0;
      left: 0;
      -webkit-transition: height 0.2s ease-out;
      -webkit-transition-delay: 0s;
      -o-transition: height 0.2s ease-out 0.6s;
      -webkit-transition: height 0.2s ease-out 0.6s;
      transition: height 0.2s ease-out 0.6s; } }

.stop-arrow, .stop-button-white, .sleft-qote, .sright-qote, .scircular-target,
.sright-arrow-black, .sright-arrow {
  display: inline-block;
  background: url("../images/png.png") no-repeat;
  overflow: hidden;
  text-indent: -9999px;
  text-align: left; }

.stop-arrow {
  background-position: -0px -0px;
  width: 42px;
  height: 42px; }

.stop-button-white {
  background-position: -0px -42px;
  width: 42px;
  height: 42px; }

.sleft-qote {
  background-position: -0px -84px;
  width: 29px;
  height: 26px; }

.sright-qote {
  background-position: -0px -110px;
  width: 29px;
  height: 26px; }

.scircular-target {
  background-position: -0px -136px;
  width: 16px;
  height: 16px; }

.sright-arrow-black {
  background-position: -16px -136px;
  width: 16px;
  height: 16px; }

.sright-arrow {
  background-position: -0px -152px;
  width: 16px;
  height: 16px; }

header {
  background-color: #000; }
  header .header {
    transition: all 0.5s ease-in-out; }
    header .header.header-fix {
      position: fixed;
      z-index: 999;
      background-color: #000;
      width: 100%;
      transition: all 0.5s ease-in-out; }
      header .header.header-fix .logo img {
        width: 107px;
        transition: all 0.5s ease-in-out; }
    header .header .inner-div {
      width: 80%;
      width: 80%;
      margin: 0 auto;
      text-align: center;
      position: relative; }
    header .header a {
      color: #fff;
      text-decoration: none;
      padding: 2px 5px;
      text-transform: uppercase;
      border: 1px solid #000;
      font-size: 12px;
      font-weight: 600;
      cursor: pointer; }
      @media (min-width: 1024px) {
        header .header a {
          padding: 6px 10px; } }
    header .header .logo img {
      padding: 10px 0;
      width: 240px; }
    header .header .logo:hover {
      border: none; }
    header .header .about-us-link {
      display: inline-block;
      position: absolute;
      left: 0;
      top: 50%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%); }
      @media (max-width: 1024px) {
        header .header .about-us-link {
          border: 1px solid #fff; } }
    header .header .locate-us-link {
      display: inline-block;
      position: absolute;
      right: 0;
      top: 50%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%); }
      @media (max-width: 768px) {
        header .header .locate-us-link {
          border: 1px solid #fff; } }

.banner-slider {
  height: calc(100% - 50px);
  position: relative; }
  .banner-slider:focus {
    outline: none; }
  .banner-slider .banner-slider .slick-slider {
    position: relative; }
  .banner-slider .slick-slider, .banner-slider .slick-list, .banner-slider .slick-track {
    height: 100%; }
  .banner-slider .slick-dots {
    bottom: 52px; }
    .banner-slider .slick-dots li {
      height: 15px;
      width: 15px;
      margin: 0 0px; }
      .banner-slider .slick-dots li.slick-active button:before {
        color: #fff;
        border: 1px solid #000;
        opacity: 1;
        border-radius: 50%;
        width: 10px;
        height: 10px;
        line-height: 10px;
        -webkit-transform: translate(50%, 50%);
        transform: translate(50%, 50%); }
      .banner-slider .slick-dots li button:before {
        opacity: 1; }
  .banner-slider .item {
    background-color: #fff;
    height: 100%;
    position: relative; }
    .banner-slider .item:focus {
      outline: none; }
    .banner-slider .item.slick-active .background-img:before {
      width: 0%;
      transition: all 1s ease-in-out 0.2s; }
    .banner-slider .item.slick-active img {
      opacity: 1;
      transition: all 0s ease-in-out; }
    .banner-slider .item .background-img {
      height: 100%;
      background-position: center;
      background-size: auto 100%;
      background-repeat: no-repeat; }
      .banner-slider .item .background-img:before {
        content: "";
        background-color: #fff;
        height: 100%;
        width: 100%;
        display: inline-block;
        width: 100%;
        position: absolute;
        right: 0; }
    .banner-slider .item img {
      margin: auto;
      position: absolute;
      z-index: 1;
      bottom: 11%;
      left: 50%;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      opacity: 0;
      width: 23%; }

#about-us {
  position: relative;
  background-position: left bottom;
  background-size: 13%;
  background-repeat: no-repeat; }
  @media (max-width: 767px) {
    #about-us {
      padding-top: 30px; } }
  #about-us img.bag-ladies {
    position: absolute;
    bottom: -38px;
    left: 0;
    width: 13%;
    z-index: 0; }
  #about-us .video {
    transition: all 1s ease; }
    #about-us .video:hover {
      transition: all 1s ease; }
      #about-us .video:hover .video-poster .video-button {
        transition: all .5s ease; }
  #about-us .inner-div {
    width: 70%;
    margin: 0  auto; }
    #about-us .inner-div .about-left-sec {
      width: 50%;
      background-color: #fff;
      z-index: 987;
      position: relative;
      padding: 0px;
      margin-bottom: -50px;
      transition: all .5s ease;
      padding-right: 15px;
      line-height: 24px;
      padding-bottom: 15px; }
      #about-us .inner-div .about-left-sec span {
        display: inline-block;
        margin-bottom: 30px; }
      #about-us .inner-div .about-left-sec h3 {
        text-transform: uppercase;
        font-family: "Bookman Old";
        font-weight: 500;
        padding: 23px;
        border-right: 0;
        display: inline-block;
        margin-bottom: 0;
        margin-top: 0; }
  #about-us .video {
    width: 70%;
    margin: auto 0 0 auto;
    position: relative;
    min-height: 400px;
    transition: all .5s ease; }
    #about-us .video .video-poster {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #000;
      background-image: url(../images/video-img.jpg);
      background-size: cover;
      background-position: top;
      background-repeat: no-repeat; }
      #about-us .video .video-poster .outer-valign {
        display: table;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.6); }
      #about-us .video .video-poster .inner-valign {
        display: table-cell;
        vertical-align: middle; }
      #about-us .video .video-poster .text-center {
        text-align: center; }
      #about-us .video .video-poster .video-button {
        display: inline-block;
        position: relative;
        width: 49px;
        height: 100px;
        border: 1px solid #fff;
        overflow: hidden;
        cursor: pointer;
        transition: all .5s ease; }
        #about-us .video .video-poster .video-button:hover .video-button-hover {
          bottom: 0; }
        #about-us .video .video-poster .video-button:hover .triangle span {
          background-color: #fff; }
        #about-us .video .video-poster .video-button .video-button-hover {
          position: absolute;
          width: 100%;
          height: 100%;
          background-color: #000;
          left: 0;
          bottom: -100%;
          transition: all .5s ease; }
        #about-us .video .video-poster .video-button .triangle {
          height: 100%;
          width: 11px;
          display: inline-block;
          overflow: hidden;
          position: relative;
          z-index: 5; }
          #about-us .video .video-poster .video-button .triangle span {
            display: inline-block;
            width: 15px;
            height: 15px;
            background-color: #fff;
            position: relative;
            margin-left: -13px;
            top: 50%;
            -webkit-transform: translateY(-50%) rotate(-45deg);
            transform: translateY(-50%) rotate(-45deg);
            transition: all .5s ease; }

.testimonial {
  margin-top: 70px;
  font-family: "Bookman Old";
  color: #fff; }
  .testimonial .test-title {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 30px; }
    @media (min-width: 1024px) {
      .testimonial .test-title {
        top: 70px; } }
    .testimonial .test-title .inst-title {
      left: auto;
      -webkit-transform: initial;
      transform: initial; }
      .testimonial .test-title .inst-title:after {
        background-color: #fff; }
  .testimonial .slick-slider .slick-track, .testimonial .slick-slider .slick-list {
    height: 100%; }
  .testimonial .slick-dots {
    bottom: 20px; }
    .testimonial .slick-dots li {
      height: 15px;
      width: 15px;
      margin: 0 0px; }
      .testimonial .slick-dots li.slick-active button:before {
        color: transparent;
        border: 1px solid #fff;
        opacity: 1;
        border-radius: 50%;
        width: 10px;
        height: 10px;
        line-height: 10px;
        -webkit-transform: translate(50%, 50%);
        transform: translate(50%, 50%); }
      .testimonial .slick-dots li button:before {
        color: #fff;
        opacity: 1; }
  .testimonial .testimobial-slide {
    height: 100%; }
    .testimonial .testimobial-slide .item {
      height: 100%; }
      .testimonial .testimobial-slide .item:focus {
        outline: none; }
      .testimonial .testimobial-slide .item .outer {
        display: table;
        height: 100%;
        width: 100%; }
        .testimonial .testimobial-slide .item .outer .inner {
          display: table-cell;
          vertical-align: middle;
          text-align: center; }
          .testimonial .testimobial-slide .item .outer .inner p {
            position: relative;
            line-height: 30px;
            font-size: 18px;
            max-width: 580px;
            margin: 0 auto;
            margin-bottom: 30px; }
            .testimonial .testimobial-slide .item .outer .inner p img {
              width: 29px; }
            .testimonial .testimobial-slide .item .outer .inner p .left-qote {
              position: absolute;
              top: -10px;
              left: -40px; }
            .testimonial .testimobial-slide .item .outer .inner p .right-qote {
              position: absolute;
              bottom: 0;
              right: -30px; }
          .testimonial .testimobial-slide .item .outer .inner span {
            font-weight: 600;
            font-size: 18px;
            text-transform: capitalize; }
  .testimonial .parallax {
    /* The image used */
    background-image: url("../images/testimobial-bg.jpg");
    /* Set a specific height */
    height: 500px;
    background-attachment: fixed;
    /* Create the parallax scrolling effect */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative; }
    @media (max-width: 1024px) {
      .testimonial .parallax {
        background-attachment: initial; } }

.processdiv_i {
  position: relative; }

.homeprocessparentdiv .processdiv_i .l-1 i {
  transition: width 0.4s ease-out; }

.homeprocessparentdiv .processdiv_i .l-2 i {
  -webkit-transition: height 0.4s ease-out;
  -webkit-transition-delay: 0.4s;
  transition: height 0.4s ease-out 0.4s; }

.homeprocessparentdiv .processdiv_i .l-3 i {
  -webkit-transition: width 0.4s ease-out;
  -webkit-transition-delay: 0.8s;
  transition: width 0.4s ease-out 0.8s; }

.homeprocessparentdiv .processdiv_i .l-4 i {
  -webkit-transition: height 0.4s ease-out;
  -webkit-transition-delay: 0.4s;
  transition: height 0.4s ease-out 0.4s; }

.homeprocessparentdiv .processdiv_i .l-1 i,
.homeprocessparentdiv .processdiv_i .l-2 i,
.homeprocessparentdiv .processdiv_i .l-3 i,
.homeprocessparentdiv .processdiv_i .l-4 i {
  width: 100%;
  height: 100%; }

.processdiv_i .l-2,
.processdiv_i .l-4 {
  width: 2px;
  height: 0;
  background: transparent;
  position: absolute; }

@media only screen and (min-width: 768px) and (max-width: 1240px) {
  .processdiv_i .l-2,
  .processdiv_i .l-4 {
    height: 100%; } }

@media only screen and (max-width: 767px) {
  .processdiv_i .l-2,
  .processdiv_i .l-4 {
    height: 100%; }
  .processdiv_i .l-2,
  .processdiv_i .l-4 {
    background: #343131; } }

.processdiv_i .l-2 i,
.processdiv_i .l-4 i {
  display: block;
  position: absolute;
  width: 100%;
  height: 0;
  background: #333; }

.processdiv_i .l-1,
.processdiv_i .l-3 {
  height: 2px;
  width: 0;
  background: transparent;
  position: absolute; }

@media only screen and (max-width: 767px) {
  .processdiv_i .l-1,
  .processdiv_i .l-3 {
    background: #343131; } }

@media only screen and (min-width: 768px) and (max-width: 1240px) {
  .processdiv_i .l-1,
  .processdiv_i .l-3 {
    width: 100%; } }

@media only screen and (max-width: 767px) {
  .processdiv_i .l-1,
  .processdiv_i .l-3 {
    width: 100%; } }

.processdiv_i .l-1 i,
.processdiv_i .l-3 i {
  display: block;
  position: absolute;
  height: 100%;
  width: 0;
  background: #333; }

.processdiv_i .l-1 {
  left: 0;
  top: 0; }

.processdiv_i.inview .l-1 {
  transition: background 0.4s ease, width 0.4s ease-out;
  width: 100%; }

.processdiv_i .l-1 i {
  right: 0;
  top: 0;
  -webkit-transition: width 0.4s ease-out;
  -webkit-transition-delay: 0.8s;
  transition: width 0.4s ease-out 0.8s; }

.processdiv_i .l-2 {
  top: 0;
  right: 0; }

.processdiv_i.inview .l-2 {
  -webkit-transition: background 0.4s ease, height 0.4s ease-out;
  -webkit-transition-delay: 0s, 0.4s;
  transition: background 0.4s ease, height 0.4s ease-out 0.4s;
  height: 100%; }

.processdiv_i .l-2 i {
  top: 0;
  left: 0;
  -webkit-transition: height 0.4s ease-out;
  -webkit-transition-delay: 0.8s;
  transition: height 0.4s ease-out 0.8s; }

.processdiv_i .l-3 {
  left: 0;
  bottom: 0; }

.processdiv_i.inview .l-3 {
  -webkit-transition: background 0.4s ease, width 0.4s ease-out;
  -webkit-transition-delay: 0s, 1.2s;
  transition: background 0.4s ease, width 0.4s ease-out 1.2s;
  width: 50%; }

.processdiv_i .l-3 i {
  left: 0;
  top: 0;
  -webkit-transition: width 0.4s ease-out;
  -webkit-transition-delay: 0s;
  transition: width 0.4s ease-out 0s; }

.processdiv_i .l-4 {
  bottom: 0;
  left: 0; }

.processdiv_i.inview .l-4 {
  -webkit-transition: background 0.4s ease, height 0.4s ease-out;
  -webkit-transition-delay: 0s, 0.8s;
  transition: background 0.4s ease, height 0.4s ease-out 0.8s;
  height: 100%; }

.processdiv_i .l-4 i {
  top: 0;
  left: 0;
  -webkit-transition: height 0.4s ease-out;
  -webkit-transition-delay: 0.4s;
  transition: height 0.4s ease-out 0.4s; }

#vint:after {
  content: '\f107';
  position: absolute;
  right: 15px;
  top: 9px;
  color: #333;
  font-size: 23px;
  z-index: -1;
  font-family: FontAwesome; }

.locate-us {
  padding: 70px 0;
  position: relative; }
  @media (max-width: 1024px) {
    .locate-us {
      padding: 70px 0 0 0; } }
  .locate-us .shoes-ladies {
    position: absolute;
    top: 30px;
    right: 0;
    width: 10%;
    z-index: 0; }
  .locate-us .shoes-man {
    position: absolute;
    bottom: -38px;
    left: 15px;
    width: 10%;
    z-index: 0; }
  .locate-us .inner-div {
    width: 70%;
    margin: 0 auto;
    margin-bottom: 70px; }
  .locate-us .inner-text {
    width: 78%; }
    @media (max-width: 600px) {
      .locate-us .inner-text {
        width: auto; } }
  .locate-us .top span {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    color: #fff;
    background-color: #000;
    padding: 12px 23px 12px 25px;
    min-width: 242px;
    height: 40px;
    display: inline-block;
    line-height: 27px;
    height: 50px; }
    .locate-us .top span .scircular-target {
      float: right;
      margin-top: 4px; }
  .locate-us .dropdown {
    text-align: center;
    display: inline-block;
    margin-left: 40px; }
    .locate-us .dropdown form {
      width: 242px;
      height: 50px;
      position: relative;
      margin: auto; }
    .locate-us .dropdown select {
      border: 1px solid #ebebeb;
      width: 100%;
      height: 50px;
      text-transform: uppercase;
      background: transparent;
      color: #333;
      font-size: 12px;
      font-weight: 400;
      line-height: 40px;
      text-align: left;
      padding-left: 8px;
      -webkit-appearance: none;
      -moz-appearance: none;
      padding-left: 20px;
      outline: none; }
      .locate-us .dropdown select::-ms-expand {
        display: none; }
      .locate-us .dropdown select:focus {
        outline: none; }
      .locate-us .dropdown select:visite {
        outline: none; }
      .locate-us .dropdown select:active {
        outline: none; }
      .locate-us .dropdown select:hover {
        cursor: pointer; }
  .locate-us .locate-us-list ul {
    list-style: none;
    padding: 0;
    margin-left: -20px;
    margin-right: -20px; }
    .locate-us .locate-us-list ul li {
      width: calc(25% - 5px);
      padding: 0 20px;
      display: inline-block;
      margin-bottom: 30px; }
      .locate-us .locate-us-list ul li .item h5 {
        text-transform: uppercase;
        padding-bottom: 14px;
        font-weight: 600;
        position: relative; }
        .locate-us .locate-us-list ul li .item h5:before {
          content: " ";
          height: 2px;
          width: 32px;
          background-color: #000;
          display: inline-block;
          position: absolute;
          bottom: 0; }
      .locate-us .locate-us-list ul li .item > span {
        margin: 12px 0px;
        width: 100%; }
        .locate-us .locate-us-list ul li .item > span > img {
          margin-right: 8px;
          width: 16px;
          float: left; }
          @media (max-width: 600px) {
            .locate-us .locate-us-list ul li .item > span > img {
              float: none; } }
      .locate-us .locate-us-list ul li .item span {
        display: inline-block;
        font-size: 12px; }
        @media (min-width: 600px) {
          .locate-us .locate-us-list ul li .item span.location {
            min-height: 34px; } }
        .locate-us .locate-us-list ul li .item span.location a {
          color: inherit; }
          .locate-us .locate-us-list ul li .item span.location a:hover {
            text-decoration: none; }
          .locate-us .locate-us-list ul li .item span.location a:focus {
            text-decoration: none; }
        .locate-us .locate-us-list ul li .item span.nxt {
          width: auto;
          font-size: 12px;
          display: inline-block;
          width: 190px; }
          .locate-us .locate-us-list ul li .item span.nxt a {
            background-color: #000;
            background: linear-gradient(90deg, #000 50%, #fff 0);
            background-size: 200% 100%;
            background-position: 100% 100%;
            display: inline-block;
            border: 1px solid #000;
            color: #000;
            width: 100%;
            text-align: center;
            transition: all 1s ease;
            text-decoration: none;
            text-transform: uppercase;
            padding: 15.5px 0px;
            display: inline-block; }
            .locate-us .locate-us-list ul li .item span.nxt a .arrow-c {
              margin-left: 15px;
              background-position: -16px -136px;
              width: 16px;
              height: 16px;
              margin-bottom: -4px; }
              @media (max-width: 1024px) {
                .locate-us .locate-us-list ul li .item span.nxt a .arrow-c {
                  background-position: -0px -152px;
                  width: 16px;
                  height: 16px; } }
            .locate-us .locate-us-list ul li .item span.nxt a:hover {
              background-position: 0 100%;
              transition: all 1s ease;
              color: #fff; }
              .locate-us .locate-us-list ul li .item span.nxt a:hover .arrow-c {
                background-position: -0px -152px;
                width: 16px;
                height: 16px; }
  .locate-us span h3 {
    text-transform: uppercase;
    font-family: "Bookman Old";
    font-weight: 500;
    padding: 23px;
    border-right: 0;
    display: inline-block;
    margin-bottom: 0;
    margin-top: 0; }
  .locate-us span.locate-us-title {
    display: inline-block;
    margin-bottom: 50px; }

.hr-line {
  height: 1px;
  width: 100%;
  margin: 10px 0 30px;
  border: 0.5px solid #cccccc;
  margin: 40px 0; }

#subscriber {
  background-color: #f5f5f5;
  padding: 50px 0;
  background: linear-gradient(90deg, #f5f5f5 50%, #fff 0);
  background-size: 200% 100%;
  background-position: 100% 100%; }
  #subscriber.homeprocessparentdiv {
    background-position: 0 100%;
    transition: all 1s ease; }
  #subscriber .inner-div {
    position: relative;
    width: 70%;
    margin: auto; }
    #subscriber .inner-div .subscriber-form {
      margin: 0 0 0 auto;
      width: 54%; }
      #subscriber .inner-div .subscriber-form .input-group {
        display: inline-block;
        position: relative;
        width: 49%;
        margin-bottom: 20px; }
        #subscriber .inner-div .subscriber-form .input-group label {
          position: absolute;
          left: 0;
          bottom: -10px;
          color: red;
          font-size: 11px;
          font-weight: 500;
          white-space: nowrap; }
      #subscriber .inner-div .subscriber-form input[type="email"] {
        width: 100%;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid;
        padding-bottom: 12px;
        color: #000;
        margin-bottom: 20px; }
        #subscriber .inner-div .subscriber-form input[type="email"]:focus {
          outline: none; }
      #subscriber .inner-div .subscriber-form .checkbox1 {
        display: inline-block;
        padding-bottom: 12px;
        margin-bottom: 20px; }
        #subscriber .inner-div .subscriber-form .checkbox1 input[type="checkbox"] {
          margin-right: 10px; }
      #subscriber .inner-div .subscriber-form .checkbox2 {
        display: inline-block;
        margin-left: 40px;
        padding-bottom: 12px;
        margin-bottom: 20px; }
        #subscriber .inner-div .subscriber-form .checkbox2 input[type="checkbox"] {
          margin-right: 10px; }
      #subscriber .inner-div .subscriber-form #subscribe-submit {
        background-color: #000;
        background: linear-gradient(90deg, #000 50%, #f5f5f5 0);
        background-size: 200% 100%;
        background-position: 100% 100%;
        display: inline-block;
        border: 1px solid #000;
        color: #000;
        width: 100%;
        text-align: center;
        transition: all 1s ease;
        cursor: pointer;
        display: block;
        background-color: #000;
        width: 247px;
        padding: 14px;
        text-align: center; }
        #subscriber .inner-div .subscriber-form #subscribe-submit .arrow-c {
          background-position: -16px -136px;
          width: 16px;
          height: 16px;
          position: relative;
          top: 2px; }
          @media (max-width: 1024px) {
            #subscriber .inner-div .subscriber-form #subscribe-submit .arrow-c {
              background-position: -0px -152px;
              width: 16px;
              height: 16px; } }
        #subscriber .inner-div .subscriber-form #subscribe-submit:hover {
          background-position: 0 100%;
          transition: all 1s ease;
          color: #fff; }
          #subscriber .inner-div .subscriber-form #subscribe-submit:hover .arrow-c {
            background-position: -0px -152px;
            width: 16px;
            height: 16px; }
        #subscriber .inner-div .subscriber-form #subscribe-submit .arrow-c {
          margin-left: 15px; }
    #subscriber .inner-div .subscriber-title {
      display: inline-block;
      position: absolute; }
    #subscriber .inner-div h3 {
      text-transform: uppercase;
      font-family: "Bookman Old";
      font-weight: 500;
      padding: 23px;
      border-right: 0;
      display: inline-block;
      margin-bottom: 0;
      margin-top: 0;
      padding-left: 35px; }

.back-to-top {
  background: linear-gradient(-180deg, #000 50%, #fff 0);
  background-size: 100% 200%;
  background-position: 100% 100%;
  position: fixed;
  bottom: 50px;
  right: 42px;
  color: #000;
  display: none; }
  @media (min-width: 1024px) {
    .back-to-top:hover {
      color: #000;
      background-color: #000;
      background-position: 100% 200%;
      transition: all 1s ease; }
      .back-to-top:hover .top-button-white {
        display: block; }
      .back-to-top:hover .top-arrow {
        display: none; } }
  .back-to-top:focus {
    color: #000; }
  @media (max-width: 1024px) {
    .back-to-top {
      bottom: 41px;
      right: 15px; } }
  @media (max-width: 767px) {
    .back-to-top {
      bottom: 56px;
      right: 15px; } }
  .back-to-top .top-button-white {
    display: none;
    width: 42px; }
  .back-to-top .top-arrow {
    display: block;
    width: 42px; }
    @media (max-width: 767px) {
      .back-to-top .top-arrow {
        margin: 0 auto; } }

.inst-title {
  text-align: center;
  text-transform: uppercase;
  font-family: "Bookman Old";
  font-weight: 500;
  font-size: 24px;
  display: inline-block;
  position: relative;
  left: 50%;
  -webkit-transform: translate(-50%);
  transform: translate(-50%); }
  .inst-title:after {
    display: inline-block;
    content: "";
    position: absolute;
    height: 3px;
    width: 35px;
    background-color: #333333;
    left: 50%;
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
    bottom: -7px; }

footer .social {
  text-align: center; }

footer ul.social-icon {
  list-style: none;
  padding: 0;
  outline: none;
  display: inline-block;
  padding: 30px 0;
  margin-top: 10px; }

footer ul li {
  display: inline-block;
  width: 50%;
  float: left; }
  footer ul li a {
    color: inherit;
    text-transform: uppercase;
    font-size: 10px;
    padding: 0 12px;
    display: inline-block; }
    footer ul li a > span {
      display: block;
      text-align: center;
      color: #757575;
      font-weight: 600; }
    footer ul li a:hover {
      text-decoration: none;
      color: #000;
      transition: all 1s ease; }
      footer ul li a:hover span {
        color: #000; }
      footer ul li a:hover .fa {
        background-color: #000;
        color: #fff;
        transition: all 0.3s ease-in-out; }
  footer ul li .fa-facebook {
    padding: 17px 19px; }
  footer ul li .fa-instagram {
    padding: 17px 16px; }
  footer ul li i.fa {
    border: 1px solid #000;
    font-size: 20px;
    cursor: pointer; }
    footer ul li i.fa:hover {
      transition: all 1s ease-in-out; }

footer .footer {
  color: #fff;
  background-color: #000;
  padding: 5px 0;
  text-align: center; }
  footer .footer a {
    color: #fff; }
    footer .footer a:hover {
      text-decoration: none; }

footer {
  margin-top: 40px; }

#instagram {
  padding: 50px 0; }
  #instagram .instagram-title {
    padding: 20px 0; }
  #instagram .insta-feed {
    width: 70%;
    max-width: 940px;
    margin: auto;
    margin-top: 30px; }
    #instagram .insta-feed .insta-feed-wrapp .insta-content {
      width: 20%;
      display: inline-block;
      float: left;
      position: relative;
      height: 188px;
      overflow: hidden; }
      #instagram .insta-feed .insta-feed-wrapp .insta-content a {
        display: inline-block;
        height: 100%;
        width: 100%;
        background-position: top center;
        background-size: auto 100%;
        background-repeat-y: no-repeat; }
        #instagram .insta-feed .insta-feed-wrapp .insta-content a img {
          width: 100%;
          height: auto;
          display: none; }
        #instagram .insta-feed .insta-feed-wrapp .insta-content a .overlay {
          opacity: 0;
          position: absolute;
          top: 0;
          height: 100%;
          width: 100%;
          padding: 13px;
          background: rgba(0, 0, 0, 0.5); }
          @media (max-width: 1024px) {
            #instagram .insta-feed .insta-feed-wrapp .insta-content a .overlay {
              opacity: 1; } }
          #instagram .insta-feed .insta-feed-wrapp .insta-content a .overlay .inner {
            height: 100%;
            width: 100%;
            border: 2px solid #fff;
            display: table; }
            #instagram .insta-feed .insta-feed-wrapp .insta-content a .overlay .inner .inner-n {
              display: table-cell;
              vertical-align: middle;
              text-align: center;
              color: #fff;
              padding: 0 12px;
              font-size: 12px; }
              #instagram .insta-feed .insta-feed-wrapp .insta-content a .overlay .inner .inner-n .comments {
                font-size: 18px; }
              #instagram .insta-feed .insta-feed-wrapp .insta-content a .overlay .inner .inner-n .like {
                font-size: 18px; }
              #instagram .insta-feed .insta-feed-wrapp .insta-content a .overlay .inner .inner-n i {
                font-size: 18px; }
              #instagram .insta-feed .insta-feed-wrapp .insta-content a .overlay .inner .inner-n span.fullname {
                display: block;
                color: #fff;
                margin-top: 12px; }
        #instagram .insta-feed .insta-feed-wrapp .insta-content a:hover .overlay {
          opacity: 1;
          transition: all 0.5s ease-in-out; }

@media (max-width: 1166px) {
  .locate-us .locate-us-list ul li {
    width: calc(33.33% - 5px); } }

@media (max-width: 1024px) {
  header .header .inner-div {
    width: 90%; }
  #subscriber .inner-div .subscriber-form #subscribe-submit {
    background-position: 0 100%;
    transition: all 1s ease;
    color: #fff; }
  .locate-us .locate-us-list ul li .item span.nxt a {
    background-position: 0 100%;
    transition: all 1s ease;
    color: #fff; }
  .banner-slider .slick-slider, .banner-slider .slick-list, .banner-slider .slick-track {
    height: auto; }
  .banner-slider .item {
    height: 500px; }
  .banner-slider {
    height: auto; }
  .locate-us .locate-us-list ul li {
    width: calc(50% - 5px); }
  #instagram .insta-feed .insta-feed-wrapp .insta-content {
    height: 140px;
    overflow: hidden; }
  #about-us .inner-div .about-left-sec {
    width: 100%;
    margin-bottom: auto; }
    #about-us .inner-div .about-left-sec p {
      text-align: center;
      padding-left: 10px;
      padding-right: 10px; }
  #about-us .video {
    width: calc(100% - 40px);
    margin: auto;
    min-height: auto;
    margin-top: 50px; }
  #subscriber .inner-div .subscriber-form .input-group {
    width: 100%; }
  #about-us img.bag-ladies, .locate-us .shoes-ladies, .locate-us .shoes-man {
    display: none; } }

.footer br {
  display: none; }

@media (max-width: 768px) {
  .footer br {
    display: block; }
  .footer span {
    display: none; }
  .banner-slider .item {
    height: 360px; }
  #subscriber .inner-div .subscriber-form #subscribe-submit {
    width: 100%; }
  #subscriber .inner-div {
    max-width: 320px; }
  #subscriber .inner-div .subscriber-form {
    width: 100%; }
  #subscriber .inner-div .subscriber-title {
    position: relative;
    width: 100%;
    left: auto; }
  #subscriber .inner-div .subscriber-form {
    margin: 0 0 0 auto;
    width: 100%;
    margin-top: 40px; } }

@media (max-width: 767px) {
  #about-us .video {
    margin-top: 15px; }
  .testimonial {
    margin-top: 50px; }
  .locate-us {
    padding: 50px 0 0 0; }
  .locate-us span.locate-us-title {
    margin-bottom: 40px; }
  .locate-us .inner-div {
    margin-bottom: 0px; }
  #subscriber {
    padding: 45px 0; }
  #subscriber .inner-div .subscriber-form .checkbox2 {
    padding-bottom: 15px;
    margin-bottom: 0px; }
  #subscriber .inner-div .subscriber-form .checkbox1 {
    padding-bottom: 15px;
    margin-bottom: 0px; }
  #instagram {
    padding: 10px 0; }
  .hr-line {
    margin: 30px 0; }
  footer {
    margin-top: 30px; }
  .banner-slider .item {
    height: auto;
    padding-top: 10px; }
  .banner-slider .item img {
    width: 26%;
    position: relative;
    display: inline-block; }
  header .header .logo img {
    width: 30%; }
  .banner-slider .item .background-img {
    position: absolute;
    width: 100%; }
  .banner-slider .slick-dots {
    bottom: -20px; }
  .locate-us .top span {
    width: 100%; }
  .locate-us .dropdown {
    width: 100%;
    margin-left: auto;
    margin-top: 20px; }
  .locate-us .dropdown form {
    width: 100%; }
  .testimonial .testimobial-slide .item .outer .inner p {
    max-width: inherit;
    padding: 20px; }
  .testimonial .testimobial-slide .item .outer .inner p .left-qote {
    position: absolute;
    top: 0;
    left: 0; }
  .testimonial .testimobial-slide .item .outer .inner p .right-qote {
    position: absolute;
    bottom: 0;
    right: 0; } }

@media (max-width: 600px) {
  #about-us .video {
    width: 100%;
    margin: auto;
    min-height: auto;
    margin-top: 50px; }
  .locate-us .locate-us-list ul li {
    width: calc(100% - 20px); }
  #subscriber .inner-div .subscriber-form {
    margin: 0 0 0 auto;
    width: 100%;
    margin-top: 40px; }
  #subscriber .inner-div .subscriber-title {
    position: relative;
    width: 100%;
    left: auto; }
  #about-us .inner-div {
    width: 100%;
    margin: 0 auto;
    padding-left: 0px;
    padding-right: 0px; }
  #about-us .inner-div .about-left-sec {
    padding-left: 15px; }
  footer .footer {
    font-size: 9px;
    padding: 10px; }
  #instagram .insta-feed .insta-feed-wrapp .insta-content {
    height: auto;
    height: 188px; }
  #subscriber .inner-div {
    position: relative;
    width: 100%;
    margin: auto;
    padding: 0 20px; }
  .locate-us .inner-div {
    width: 70%;
    margin: 0 auto;
    margin-bottom: 70px;
    width: 100%;
    padding: 0 20px; } }
  @media (max-width: 600px) and (max-width: 1024px) {
    .locate-us .inner-div {
      margin-bottom: 40px; } }

@media (max-width: 600px) {
  .testimonial .testimobial-slide .item .outer .inner {
    padding: 0 20px; }
  #about-us .video .video-poster .video-button {
    width: 32px;
    height: 73px; }
  #about-us .video .video-poster .video-button .triangle {
    width: 7px; }
  .locate-us .locate-us-list ul li .item h5:before {
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%); }
  .locate-us .locate-us-list ul li {
    text-align: center; } }

@media (max-width: 320px) {
  .back-to-top {
    bottom: 51px;
    right: 8px;
    width: 61px;
    display: inline-block !important; } }
  @media (max-width: 320px) and (max-width: 767px) {
    .back-to-top {
      margin: 0 auto;
      right: 0px; } }

label#email-error.successfully {
  color: green !important; }

.scroll-line {
  display: none !important;
  position: absolute;
  left: 10%;
  bottom: 29%;
  display: inline-block;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg); }
  @media (max-width: 600px) {
    .scroll-line {
      display: none; } }
  .scroll-line .verticle-line {
    content: "";
    display: inline-block;
    width: 150px;
    height: 1px;
    background-color: #000;
    vertical-align: middle;
    position: absolute;
    right: 6px;
    top: 8px; }
  .scroll-line span {
    position: absolute;
    color: #fff;
    text-transform: uppercase; }

/*# sourceMappingURL=style.css.map */
