  
@media (min-width:1024px) {




	.on-hover-line {
		position:relative;


		
		
		
		
		.l-1 {
			height: 1px;		
			background: #000;
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			i {
				display: block;
				position: absolute;
				height: 100%;
				width: 0;
				background: #fff;
				right: 0;
				top: 0;			
				-webkit-transition: width 0.2s ease-out;
				-webkit-transition-delay: 0.6s;
				-o-transition: width 0.2s ease-out 0.6s;
				-webkit-transition: width 0.2s ease-out 0.6s;
				transition: width 0.2s ease-out 0.6s
			}
		}
		.l-2 {
			position:absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 1px;
			background: #000;
			i {
				display: block;
				position: absolute;
				width: 100%;
				height: 0;
				background: #fff;
				top: 0;
				left: 0;
				-webkit-transition: height 0.2s ease-out;
				-webkit-transition-delay: 0.4s;
				-o-transition: height 0.2s ease-out 0.4s;
				-webkit-transition: height 0.2s ease-out 0.4s;
				transition: height 0.2s ease-out 0.4s
			}
		}
		.l-3 {
			position: absolute;
			bottom:0;
			left:0;		
			height: 1px;
			width: 100%;
			background: #000;
			i {

				display: block;
				position: absolute;
				height: 100%;
				width: 0;
				background: #fff;
				left: 0;
				top: 0;
				-webkit-transition: width 0.2s ease-out;
				-webkit-transition-delay: 0.2;
				-o-transition: width 0.2s ease-out 0.2s;
				-webkit-transition: width 0.2s ease-out 0.2s;
				transition: width 0.2s ease-out 0.2s;
			}
			
		}
		.l-4 {
			position:absolute;
			right:0;
			top:0;
			width:1px;
			height:100%;
			background:#000;	

			i {
				display: block;
				position: absolute;
				width: 100%;
				height: 0;
				background: #fff;
				bottom: 0;
				left: 0;
				-webkit-transition: height 0.2s ease-out;
				
				-o-transition: height 0.2s ease-out ;
				-webkit-transition: height 0.2s ease-out ;
				transition: height 0.2s ease-out ;
				
			}
		}

		&:hover {


			.l-1 {
				
				i {
					width: 100%;
					height: 100%;
					-webkit-transition: width 0.2s ease-out;
					-o-transition: width 0.2s ease-out;
					transition: width 0.2s ease-out;
					
				}

			}
			.l-2 {
				
				i {
					width: 100%;
					height: 100%;
					-webkit-transition: height 0.2s ease-out 0.2s;
					-webkit-transition-delay: 0.2s;
					-o-transition: height 0.2s ease-out 0.2s;
					-webkit-transition: height 0.4s ease-out 0.2s;
					transition: height 0.2s ease-out 0.2s;
					
				}
			}
			.l-3 {
				
				

				i {

					width: 100%;
					height: 100%;
					right: 0;
					top: 0;
					-webkit-transition: width 0.2s ease-out;
					-webkit-transition-delay: 0.4s;
					-o-transition: width 0.2s ease-out 0.4s;
					-webkit-transition: width 0.2s ease-out 0.4s;
					transition: width 0.2s ease-out 0.4s
				}
			}
			.l-4 {
				
				i {

					width: 100%;
					height: 100%;
					bottom: 0;
					left: 0;
					-webkit-transition: height 0.2s ease-out;
					-webkit-transition-delay: 0s;
					-o-transition: height 0.2s ease-out 0.6s;
					-webkit-transition: height 0.2s ease-out 0.6s;
					transition: height 0.2s ease-out 0.6s
				}
			}


		}
	}


}






















