
.stop-arrow, .stop-button-white, .sleft-qote, .sright-qote, .scircular-target, 
.sright-arrow-black, .sright-arrow
{ display: inline-block; background: url('../images/png.png') no-repeat; overflow: hidden; text-indent: -9999px; text-align: left; }

.stop-arrow { background-position: -0px -0px; width: 42px; height: 42px; }
.stop-button-white { background-position: -0px -42px; width: 42px; height: 42px; }
.sleft-qote { background-position: -0px -84px; width: 29px; height: 26px; }
.sright-qote { background-position: -0px -110px; width: 29px; height: 26px; }
.scircular-target { background-position: -0px -136px; width: 16px; height: 16px; }
.sright-arrow-black { background-position: -16px -136px; width: 16px; height: 16px; }
.sright-arrow { background-position: -0px -152px; width: 16px; height: 16px; }